{% if log is null %}
    <li{{ attributes.defaults({
        class:'border-bottom-0 list-group-item p-0'
    }) }}></li>
{% else %}
    <li{{ attributes.defaults({
    class:'list-group-item d-flex justify-content-between align-items-center p-1'
}) }}>
        {% if log.count==1 %}
            {% set status = 'info' %}
        {% elseif log.count<5 %}
            {% set status = 'warning' %}
        {% elseif log.count<10 %}
            {% set status = 'secondary' %}
        {% elseif log.count<20 %}
            {% set status = 'dark' %}
        {% else %}
            {% set status = 'danger' %}
        {% endif %}
        <div>
			{{ batch_selection_row_selector("main_logs",log,{class:"m-1 align-bottom"}) }}
            <span class="badge border border-secondary-subtle bg-secondary-subtle text-secondary-emphasis">{{ log.date|date('d.m.Y H:i:s') }}</span>
            <a href="{{ path('bug_catcher.dashboard.index',{project:log.project.id,status:this.status}) }}"
               class="badge border border-primary-subtle bg-primary-subtle text-primary-emphasis text-decoration-none">{{ log.project.name }}</a>
            <span class="badge border border-{{ status }}-subtle bg-{{ status }}-subtle text-{{ status }}-emphasis">{{ log.count }}</span>
            {% if log.code is not empty %}
                <span class="badge border border-primary-subtle bg-primary-subtle text-primary-emphasis">{{ log.code }}</span>
            {% endif %}
            <div class="d-inline text-break">{{ log.message }}</div>
        </div>
        {% if is_granted('ROLE_DEVELOPER') %}
            <div class="text-nowrap">
                <button type="button" class="btn btn-outline-secondary btn-sm"
                        data-action="live#action"
                        data-live-action-param="clearOne"
                        data-live-status-param="resolved"
                        data-live-from-param="{{ log.firstOccurrence|date('Y-m-d-H-i-s') }}"
                        title="{{ 'Fix it'|trans }}"
                >
                    <twig:ux:icon name="game-icons:magic-broom" width="20px" height="20px"/>
                </button>
                <a href="{{ path('bug_catcher.dashboard.detail',{"record":log.id}) }}"
                   class="btn btn-outline-success btn-sm"
                   target="_blank"
                   title="{{ 'Detail'|trans }}"
                >
                    <twig:ux:icon name="covid:virus-lab-research-magnifier-1" width="20px" height="20px"/>
                </a>
                <button type="button" class="btn btn-outline-info btn-sm"
                        data-action="live#action"
                        data-live-action-param="clearOne"
                        data-live-status-param="archived"
                        data-live-from-param="{{ log.firstOccurrence|date('Y-m-d-H-i-s') }}"
                        title="{{ 'Archive it'|trans }}"
                >
                    <twig:ux:icon name="clarity:archive-line" width="20px" height="20px"/>
                </button>
            </div>
        {% endif %}
</li>
{% endif %}