<div{{ attributes.defaults({
    class:'container-fluid py-2'
}) }}>
    <div class="accordion" id="accordionExample">
        {% for key,item in this.trace %}
            <div class="accordion-item">
                <h3 class="accordion-header" id="heading-{{ key }}">
                    <button class="accordion-button collapsed"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-{{ key }}"
                            aria-expanded="{% if opened==key %}true{% else %}false{% endif %}"
                            aria-controls="collapse-{{ key }}">
                        {{ item.file }} (line {{ item.line }})
                    </button>
                </h3>
                <div id="collapse-{{ key }}" class="accordion-collapse collapse {% if opened==key %}show{% endif %}"
                     aria-labelledby="heading-{{ key }}"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="code">
                            {% for lineNum,line in item.code %}
                                <code class="{% if item.line==lineNum %}selected{% endif %}"
                                      style="counter-set: listing {{ lineNum }};">{{ line }}</code>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
