<div{{ attributes.defaults({
    class:'col-2 px-1'
}) }}>
    {% set count = this.count %}
    {% set color = count==0 ? 'success' : (count<5 ? 'warning' : 'danger') %}
    <div class="w-100 badge border border-{{ color }}-subtle bg-{{ color }}-subtle text-{{ color }}-emphasis fs-6">
        <div class="mt-px">{{ count }}</div>
    </div>
</div>
