<div{{ attributes.defaults({
    class:'my-3 p-3 bg-body rounded shadow-sm'
}) }}>
    {{ this.init }}
    {% set logs = this.logs %}
    {% if logs|length %}
        <div class="nav justify-content-end pb-1">
            {% if app.request.attributes.get("project") is not null %}
                <a href="{{ path('bug_catcher.dashboard.index') }}" class="btn btn-primary btn-sm mx-1">
                    <twig:ux:icon name="lucide:filter-x" width="20px" height="20px"/>
                    {{ 'Clear filter'|trans }}
                </a>
            {% endif %}
            <button class="btn btn-outline-secondary btn-sm" aria-current="page"
                    data-action="live#action"
                    data-live-action-param="clearAll"
                    data-live-from-param="{{ this.to|date('Y-m-d-H-i-s') }}"
                    data-live-to-param="{{ this.from|date('Y-m-d-H-i-s') }}"
            >
                <twig:ux:icon name="game-icons:magic-broom" width="20px" height="20px"/>
                {{ 'Fix all'|trans }}
            </button>
        </div>
        <ul class="list-group">
            {% for log in logs %}
                {{ component(log.componentName, {log: log, status: status, key:log.id}) }}
            {% endfor %}
        </ul>
    {% else %}
        <h6 class="border-bottom pb-1 mb-0">Your are happy, No Errors
            <twig:ux:icon name="game-icons:schrodingers-cat-alive" width="30px" height="30px"/>
        </h6>
    {% endif %}
</div>
