<div{{ attributes.defaults({
	class:'my-3 p-3 bg-body rounded shadow-sm'
}) }}>
	{{ this.init }}
	{% set logs = this.logs %}
	{% if logs|length or query is not empty %}
		<div class="nav d-flex justify-content-between pb-1">
			<div>
				<input
						type="search"
						data-model="query"
						class="form-control form-control-sm"
						placeholder="{{ 'Error code'|trans }}"
				>
			</div>
			<div>
				{% if app.request.attributes.get("project") is not null %}
					<a href="{{ path('bug_catcher.dashboard.index') }}" class="btn btn-primary btn-sm mx-1">
						<twig:ux:icon name="lucide:filter-x" width="20px" height="20px"/>
						{{ 'Clear filter'|trans }}
					</a>
				{% endif %}
				<button class="btn btn-outline-secondary btn-sm" aria-current="page"
						data-action="live#action"
						data-live-action-param="clearAll"
						data-live-from-param="{{ this.to|date('Y-m-d-H-i-s') }}"
						data-live-to-param="{{ this.from|date('Y-m-d-H-i-s') }}"
				>
					<twig:ux:icon name="game-icons:magic-broom" width="20px" height="20px"/>
					{{ 'Fix all'|trans }}
				</button>
			</div>
		</div>
		<ul class="list-group">
			{% for log in logs %}
				{{ component(log.componentName, {log: log, status: status, key:log.id}) }}
			{% endfor %}
		</ul>
	{% else %}
		<div class="empty-state text-center py-5">
			<div class="mb-3">
				<twig:ux:icon name="lucide:party-popper" width="68" height="68" class="text-success"/>
			</div>
			<h5 class="empty-title mb-2">
				{{ 'No bugs, hurrah'|trans({},"BugCatcher") }}
			</h5>
			<p class="empty-subtitle mb-4 text-body-secondary">
				{{ this.funnyMessage|trans({},"BugCatcher") }}
			</p>
			<div class="d-flex justify-content-center gap-2">
				{% if app.request.attributes.get("project") is not null %}
					<a href="/" class="btn btn-primary btn-sm">
						<twig:ux:icon name="lucide:filter-x" width="18" height="18"/>
						Zrušiť filter
					</a>
				{% endif %}
				<button class="btn btn-outline-primary btn-sm" onclick="alert('{{ 'Just funny 🙂'|trans({},"BugCatcher") }}')">
					<twig:ux:icon name="lucide:bug-off" width="18" height="18"/> {{ 'Generate bug'|trans({},"BugCatcher") }}
				</button>
			</div>
		</div>
	{% endif %}
</div>
