<div{{ attributes.defaults({
    class:'col-4 px-1'
}) }}>
    {% set color = this.lastStatus ? 'success' : 'danger' %}
    <div class="w-100 badge border border-{{ color }}-subtle bg-{{ color }}-subtle text-{{ color }}-emphasis text-start fs-6">
        {% if this.lastStatus %}
            <twig:ux:icon name="mdi:success-bold" height="18" width="18"/>
        {% else %}
            <twig:ux:icon name="jam:triangle-danger" height="18" width="18"/>
        {% endif %}
        {{ project.name }}
    </div>
</div>
